body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight: bold;
    background-color: #119DA4;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

#home {
    height: 100%;
    margin:0;
    padding: 0;
    background-color: #119DA4;
    color: white;
    margin-left:80px;
    margin-right: 20px;
}

#aboutMe {
    height: 100%;
    margin:0;
    padding: 0;
    background-color: #ffffff;
    color:#10797F;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:60px;
}

#aboutMe h2 {
    margin-right: 40px;
    margin-left: 40px;
}

.verticalNav {
    position:fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 60px;
    background-color:#383838;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
}

.verticalNav a {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0;
    transition: 0.2s ease;
}

.verticalNav a:hover {
    font-size:20px;
    text-decoration: underline;
}

/*FOOTER*/
#right {
    float:right;
    text-align:right;
    margin-left:80px;
    margin-right: 20px;
}

#left {
    float:left;
    text-align: left;
    margin-left:80px;
    margin-right: 20px;
}

/*Projects Desktop Display*/
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    background-color: #ffffff;
    color: rgb(100, 100, 100);
    margin-left: 60px;
}

.project-card img {
    margin: 0 auto;
}

.desktop img {
    width: 50%;
    height: auto;
    display: block;
}